###
###  ---------------------------------------------------
###  SETTINGS
###  ---------------------------------------------------
###
HOST_USER_UID=1000
HOST_USER_GID=1000

###  ---------------------------------------------------
###  WEB SERVER SETTINGS
###  ---------------------------------------------------
NGINX_VERSION=latest
NGINX_PORT=80

###  ---------------------------------------------------
###  MYSQL SERVER SETTINGS
###  ---------------------------------------------------
MYSQL_VERSION=5.6
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=12345